<link rel="stylesheet" href="/stylesheets/tabView.css" />

<div class="tab mt-3">
  <button
    class="tablinks"
    id="defaultOpen"
    onclick="switchTab(event, 'English')"
  >
    English
  </button>
  <button class="tablinks" onclick="switchTab(event, 'Math')">Math</button>
  <button class="tablinks" onclick="switchTab(event, 'Reading')">
    Reading
  </button>
  <button class="tablinks" onclick="switchTab(event, 'Science')">
    Science
  </button>
</div>

<script src="/javascripts/tabView.js"></script>
