<% layout('layouts/homeplate') %>
<div>
  <h1 id="header" class="display-1 text-center fw-bold text-white">
    ACT Analyst
  </h1>
</div>
<div class="container mt-5">
  <div class="mb-3 p-5 bg-white rounded-3">
    <h2>Welcome to ACT Analyst!</h2>
    <p>
      ACT Analyst is a tool to help you do your best on the ACT. It takes in
      your practice test data and analyses it to reveal your strengths, and more
      importantly, your weaknesses. Then, you can work on your weaknesses by
      learning information specific to the question types you miss most often.
    </p>
  </div>
</div>
<a
  class="twitter-timeline"
  data-dnt="true"
  data-theme="light"
  href="https://twitter.com/ACT_Analyst?ref_src=twsrc%5Etfw"
  >Tweets by ACT_Analyst</a
>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
<link rel="stylesheet" href="/stylesheets/home.css" />
