<% layout('layouts/boilerplate') %>
<!-- Show all previous attempts(data page) w/ graphs + analysis -->
<h1>All Attempts</h1>
<a class="btn btn-success btn-sm mb-3" href="/attempts/new">New Attempt</a>
<ul>
  <% for (attempt of attempts) { %>
  <ul>
    <a href="/attempts/<%= attempt._id %>"
      ><%= attempt.test.form %> - <%= attempt.dateTaken %>
    </a>
  </ul>
  <% } %>
</ul>
